@page "/email/new"

@using System.ComponentModel.DataAnnotations
@using TaxDashboard.Components.Loading
@using TaxDashboard.Components.Popups

@inject NavigationManager Navigation
@inject EmailService EmailService
@inject ClientsService ClientsService

<LoadingContentsComponent Initialized="@(_emailLoginInfo is not null)">
    <EditForm EditContext="@_emailEditContext" class="container pt-3 floating-card" style="max-width:1000px;" OnValidSubmit="SendEmailAsync">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col">
                <div class="card bg-light">
                    <div class="card-body p-4">
                        <div class="row mb-2">
                            <label class="label-col" for="from">Od</label>
                            <div class="col">
                                <input id="from" class="form-control" value="@_email.From" disabled />
                            </div>
                            <div class="col">
                                <input id="fromName" class="form-control" value="@_email.FromName" disabled />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label class="label-col" for="to">Do</label>
                            <div class="col">
                                <InputText id="to" class="form-control" @bind-Value="_email.To" required />
                                <ValidationMessage For="@(()=> _email.To)" />
                            </div>
                            <div class="col">
                                <input id="toName" class="form-control" value="@_email.ToName" disabled />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label class="label-col" for="subject">Temat</label>
                            <div class="col">
                                <InputText id="subject" class="form-control" type="text" @bind-Value="_email.Subject" autocomplete="off" required />
                                <ValidationMessage For="@(()=> _email.Subject)" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <InputTextArea id="content" class="form-control overflow-y-auto" @bind-Value="_email.Content" autocomplete="off" rows="10" />
                                <ValidationMessage For="@(()=> _email.Content)" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex">
                                <div class="flex-grow-1" />
                                <button class="btn btn-primary" style="width:8rem;" type="submit">Wyślij</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
</LoadingContentsComponent>
<Toast @ref="@_toastRef" Title="Wysyłanie" />

@code {
    private EmailContent _email = new();
    private EditContext _emailEditContext = default!;

    private EmailLoginInfo? _emailLoginInfo;

    private Toast _toastRef = default!;

    [SupplyParameterFromQuery]
    public int? ClientId { get; set; }
    [SupplyParameterFromQuery]
    public int? TemplateType { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _emailEditContext = new(_email);

        await UpdateLoginDataAsync();
    }

    private async Task SendEmailAsync()
    {
        bool emailSent = await EmailService.SendEmailAsync(_email.To, _email.ToName, _email.FromName, _email.Subject, _email.Content);
        await _toastRef.ShowTextAsync(emailSent ? $"Pomyślnie wysłano wiadomość do {_email.To}" : $"Nie udało się wysłać wiadomości");
    }


    private async Task UpdateLoginDataAsync()
    {
        _emailLoginInfo = await EmailService.GetCurrentLoginInfoAsync();
        if (!_emailLoginInfo.LoggedIn)
        {
            Navigation.NavigateTo("/email/login");
            return;
        }

        if (ClientId is null)
            return;

        Client? client = await ClientsService.GetDetailsAsync(ClientId.Value);
        if (client is null)
            return;

        if (TemplateType.HasValue)
        {
            var templateType = (Services.Emails.EmailTemplateType)TemplateType.Value;

            (_email.Subject, string template) = EmailTemplatesService.GetTemplate(templateType);
            _email.Content = EmailTemplatesService.ReplaceTokensInMessage(template, client);

            await _toastRef.ShowTextAsync($"Użyto szablonu dla {templateType.GetDescriptor()}");
        }

        _email.From = _emailLoginInfo.EmailAddress!;
        _email.FromName = Preferences.Get(GlobalSettings.PreferencesStorage.EmailNameKey, string.Empty);
        _email.To = client.Email;
        _email.ToName = client.FullName;

        StateHasChanged();
    }

    private class EmailContent
    {
        [Required(ErrorMessage = "Podaj adres nadawcy")]
        public string From { get; set; } = string.Empty;
        public string FromName { get; set; } = string.Empty;
        [Required(ErrorMessage = "Podaj adresata")]
        public string To { get; set; } = string.Empty;
        public string ToName { get; set; } = string.Empty;
        [Required(ErrorMessage = "Temat nie może być pusty")]
        [MinLength(1, ErrorMessage = "Temat nie może być pusty")]
        public string Subject { get; set; } = string.Empty;
        [Required(ErrorMessage = "Zawartość nie może być pusta")]
        [MinLength(1, ErrorMessage = "Zawartość nie może być pusta")]
        [MaxLength(2024, ErrorMessage = "Zbyt długa wiadomość (max 2048)")]
        public string Content { get; set; } = string.Empty;
    }
}