@page "/"
@inject TaxDashboard.Models.AppDbContext db

@using Microsoft.EntityFrameworkCore

<h1>Hello, world!</h1>

Welcome to your new app.

<FluentLabel>@db.Banks.Count()</FluentLabel>
@if (@db.Clients.Count() > 0)
{
    <FluentLabel>@db.Clients.First().FullName</FluentLabel>
    <FluentLabel>@(db.Clients.FirstOrDefault().JPKV7HandledDates?.FirstOrDefault()?.ContextDate.ToString() ?? "abc")</FluentLabel>
    <FluentLabel>@(db.Clients.Include(c => c.Bank).FirstOrDefault().Bank?.Name ?? "abc")</FluentLabel>
}
@* <FluentLabel>@db.Clients.First().Invoices.Count()</FluentLabel> *@
<FluentIcon Value="@(new Icons.Regular.Size24.Save())" />
